.curseclient
saves
resourcepacks
shaderpacks
schematics
moonlight-global-datapacks
mods
minecraftinstance.json
usernamecache.json
usercache.json
.mixin.out
modernfix
logs
local
.probe/*
!.probe/probe-settings.json
